body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    
    text-align: center;
}

.bottom{
    
    padding-left:650px;
    
     vertical-align: bottom;

}
.bottom1{
    
    padding-left:700px;
    vertical-align:bottom;
    
}
.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.border
{
font-family: Verdana Bold;
border-style:solid;
border-color: #FFBF00;
background-color:#000000;
opacity:0.7;
padding: 5px;
padding-right: 7px;
padding-left: 7px;

} 
